.portal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30.5rem;
    height: fit-content;
    margin: auto;
    padding: 2rem 2.5rem;

    background-color: #2a2634;
    border-radius: 8px;
}

.modal h1 {
    font-size: 2rem;
    line-height: 160%;
    margin: 0;
}

.form {
    margin-top: 2rem;
    width: 100%;
}

.form input {
    margin-top: 2rem;
    border-radius: 4px;
    background-color: #18181b;
    height: 2.5rem;
    width: 100%;
    padding: auto 1rem;
}

.form .doubleInput {
    display: flex;
    align-items: center;
}

.form .doubleInput {
    display: flex;
    align-items: center;
}

.form .doubleInput .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.form .doubleInput .inputContainer + .inputContainer {
    margin-left: 2rem;
}
